<div class="large-12 columns">
  <h2><%= link_to(fa_icon("caret-left"), user_settings_path) %> <%=t 'users.title' %></h2>
</div>

<table>
  <thead>
    <tr>
      <th><%=t "users.email" %></th>
      <th><%=t "users.current_sign_in" %></th>
      <th><%=t "users.last_sign_in" %></th>
      <th><%=t "users.created_at" %></th>
      <th><%=t "users.sign_in_count" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.current_sign_in_at %><br><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_at %><br><%= user.last_sign_in_ip %></td>
        <td><%= user.created_at %></td>
        <td><%= user.sign_in_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
