<% if user_signed_in? %>
  <table>
    <thead>
      <tr>
        <th><%=t ".received_at" %></th>
        <th><%=t ".quantity" %></th>
        <th><%=t ".product" %></th>
        <th><%=t ".name" %></th>
        <th><%=t ".comment" %></th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.received_at, order_path(order) %></td>
          <td><%= order.quantity %></td>
          <td><%= order.offer.name if order.offer.present? %></td>
          <td><%= order.lastname %>, <%= order.firstname %></td>
          <td><%= order.comment %></td>
          <% if order.finished == true %>
            <td><%= link_to(fa_icon("thumbs-up 2x"), order_path(order)) %></td>
          <% else %>
            <td><%= link_to(fa_icon("spinner spin 2x"), order_path(order)) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('button.new'), new_order_path, class: 'button success small' %>
<% end %>