<%= simple_form_for @offer do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= @offer.errors.count %> Fehler beim Erstellen eines Angebots aufgetreten</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t ".name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t ".description" %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label t ".created_at" %>
    <%= Time.now %>
  </div>
  <div class="field">
    <%= f.label t ".quantity" %>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label t ".cost" %>
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label t ".active" %>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit 'Speichern', class: 'button small success centered' %>
  </div>
<% end %>
