<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th>Quantity</th>
      <th>Cost</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.name %></td>
        <td><%= offer.description %></td>
        <td><%= offer.created_at %></td>
        <td><%= offer.quantity %></td>
        <td><%= offer.cost %></td>
        <td><%= offer.active %></td>
        <td><%= link_to 'Show', offer, class: 'button tiny' %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer), class: 'button tiny' %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert tiny' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path, class: 'button success small' %>
