
<p>
  <strong><%=t ".name" %>:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong><%=t ".description" %>:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong><%=t ".created_at" %>:</strong>
  <%= @offer.created_at %>
</p>

<p>
  <strong><%=t ".quantity" %>:</strong>
  <%= @offer.quantity %>
</p>

<p>
  <strong><%=t ".cost" %>:</strong>
  <%= @offer.cost %>
</p>

<p>
  <strong><%=t ".active" %>:</strong>
  <%= @offer.active %>
</p>

<%= link_to t('button.edit'), edit_offer_path(@offer), class: 'button small right' %>
<%= link_to t('button.back'), offers_path, class: 'button small' %>
