
<p>
  <strong><%=t ".name" %>:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong><%=t ".description" %>:</strong>
  <%= @offer.description %>
</p>

<% if user_signed_in? %>
<p>
  <strong><%=t ".created_at" %>:</strong>
  <%= @offer.created_at %>
</p>
<% end %>

<p>
  <strong><%=t ".quantity" %>:</strong>
  <%= @offer.quantity %>
</p>

<p>
  <strong><%=t ".cost" %>:</strong>
  <%= @offer.cost %>
</p>

<% if user_signed_in? %>
  <p>
    <strong><%=t ".active" %>:</strong>
    <% if @offer.active == true %>
      <td><i class="fa fa-check-circle fa-2x"></i></td>
    <% else %>
       <td><i class="fa fa-times-circle fa-2x"></i></td>
    <% end %>
  </p>
  <div class="right">
    <%= link_to t('button.edit'), edit_offer_path(@offer), class: 'button small' %>
    <%= link_to t('button.destroy'), @offer, method: :delete,
    data: { confirm: 'Sind Sie sicher?' }, class: 'button alert small' %>
  </div>
<% end %>

<%= link_to t('button.back'), offers_path, class: 'button small' %>
