<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <ul class="left">
      <li class="<%= 'active' if current_controller?('offers') %>">
        <%= link_to t('.offers'), offers_path %></li>
      <li class='divider'></li>
      <li class="<%= 'active' if current_controller?('orders') %>">
        <%= link_to t('.orders'), orders_path %></li>
    </ul>


    <ul class="right">
      <li><%= link_to(fa_icon("cog"), user_settings_path) %></li>
      <li class='divider'></li>
      <li><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
    </ul>
  </section>
</nav>
